@import url(https://db.onlinewebfonts.com/c/ac187c52eeff516225fc35f138f225fc?family=PP+Telegraf+UltraBold); 
.navbar-brand{
    align-items: center;
    color: #544013;
    font-family: "PP Telegraf UltraBold"; 
}