<div class="contenedor position-absolute top-50 start-50 translate-middle">
    <h1>¡Bienvenidos!</h1>
    <button type="button" class="btn btn-outline-dark" routerLink="/menu" (click)="eliminar()">¡Ordena Aqui!</button>
</div>
<div class="container position-absolute bottom-0  d-flex footer">
    <div class="ubicacion d-flex">
        <img src="../../../assets/ubicacion.jpg" alt="" width="40" height="50" class="d-inline-block align-text-top">
        <p>El campito <br> carrera 8b #30C-42</p>
    </div>
    <div class="ubicacion d-flex">
        <img src="../../../assets/delivery.jpg" alt="" width="80" height="50" class="d-inline-block align-text-top">
        <p>El campito <br> carrera 8b #30C-42</p>
    </div>
</div>