<div class="position-relative start-50 translate-middle title">
  <h1>Menú</h1>
</div>
<div class="d-flex">
  <div class="opciones">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a routerLink="/menu">Corrientazos</a>
      </li>
      <li class="list-group-item ">
        <a routerLink="/sopa">Sopas</a>
      </li>
      <li class="list-group-item">
        <a class="activo" routerLink="/jugos">Jugos</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/gaseosas">Gaseosas</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/helado">Helados</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/carrito">Mi carrito</a>
      </li>
    </ul>
  </div>
  <div class="productos">
    <div class="card" *ngFor="let item of ProductosLista">
      <div class="card-body" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="item.tipo == 'jugo' ">
        <button class="card-body" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="obtenerDatos(item.titulo, item.precio)">
          {{item.titulo}}...........................................................${{item.precio}}
          <p>
            {{item.Descricion}}
          </p>
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{titulo}} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrar()"></button>
      </div>
      <div class="modal-body">
        Quieres agregar este producto al carrito?
      </div>
      <div class="modal-footer">
        <label for="">Cantidad</label>
        <input type="number" min="1" [(ngModel)]="cantidad">
        <button type="button" class="btn btn-primary" (click)="InsCarrito()" data-bs-dismiss="modal">Agregar al
          carrito</button>
      </div>
    </div>
  </div>
</div>